@font-face {
  font-family: 'GothamPro';
  src: url('./GothamPro/GothamPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro-Bold';
  src: url('./GothamPro-Bold/GothamPro-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro-Medium';
  src: url('./GothamPro-Medium/GothamPro-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./Roboto/Roboto.woff2') format('woff2'), url('./Roboto/Roboto.woff') format('woff'), url('./Roboto/Roboto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}